.navbar {
    background-color: var(--color3);
    cursor: pointer;
}

.nav-link {
    color: #202020;
    font-weight: 300;
    color: #FFF;
    
    text-decoration: none;
    text-align: center;
}

.active {
    font-weight: 400;
}

.active mat-icon {
    color: var(--color1);
}

a mat-icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 4px;
} 
