<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="router-link-active" >
            <mat-icon>person</mat-icon>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="router-link-active" >
            <mat-icon>touch_app</mat-icon>
            Experience
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" >
            <mat-icon>build</mat-icon>
            Skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mat-icon>school</mat-icon>
            Education
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mat-icon>work</mat-icon>
            Portfolio
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>