<mat-toolbar class="nav justify-content-center">
  <ng-container class="nav-underline">
    <a class="nav-link" href="#">
      <mat-icon>person</mat-icon>
      About
    </a>
  
    <a class="nav-link" href="#">
      <mat-icon>touch_app</mat-icon>
      Experience
    </a>
  
    <a class="nav-link" href="#">
      <mat-icon>build</mat-icon>
      Skills
    </a>

    <a class="nav-link" href="#">
      <mat-icon>school</mat-icon>
      Education
    </a>

    <a class="nav-link" href="#">
      <mat-icon>work</mat-icon>
      Portfolio
    </a>
    </ng-container>
  <!-- <button>
    <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">menu</mat-icon>
  </button> -->
</mat-toolbar>

