<div class="container mt-4" style="border: 1px solid red;">
    <div class="col-12 text-center">LINKS</div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li> 
                    <span> E-mail: </span>
                    <span> ang.vianna&#64;mail.com</span>
                </li>
                <li>
                    <span> Phone: </span>
                    <span> +55 85 99191-3521 </span>
                </li>
            </ul>    
        </div>
        <div class="col-md-6">
            <ul>
                <li> 
                    <span> Nationality: </span>
                    <span> Brazil </span>
                </li>
                <li>
                    <span> Website: </span>
                    <span> github.com/AngeloAtur </span>
                </li>
            </ul>    
        </div>        
    </div>
    <div class="col-12 text-center"> 
        <a href="#" target="_blank" class="btn btn-primary">Download CV</a> 
    </div>
</div>