<div class="background">
    <div class="blurred-background"></div>
    <header>
       <img
          src="assets/images/AngeloArtur.jpg"
          alt="Ângelo Artur - Foto de Perfil"
          width="150px"
          height="150px"
          loading="eager">
       <h1>Ângelo Artur</h1>
    </header>
    <aside>
       <div class="container">
          <h4>Full Stack Developer JavaScript | Angular | Java | SpringBoot</h4>
          <h4>Fortaleza, Ceará, Brasil</h4>
          <p></p>
       </div>
    </aside>
 </div>
 