div.background {
   position: relative;
   height: 52vh;
}

div.blurred-background {
   position: absolute;
   background-image: url('/assets/images/background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100vw;
   height: 52vh;
   filter: blur(1.7px);
   z-index: -1;
}

header, aside {
   position: relative;
   z-index: 1;
}
